/* /styles/header.css */

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: right;
  }
  
  .notification {
    position: right;
    cursor: pointer;
  }
  
  .notification svg {
    color: #00e5ff;
  }
  